@media(max-width:1140px) {
    .intro {
        height: 650px;
        gap: 40px;

    }

    .nav_box {
        padding: 35px 0px;
        transition: 0.5s;
    }



    .nav_list {
        gap: 27px;
    }

    .nav_link {
        font-size: 16px;
    }

    /* INTRO-QISMI */

    .title_intro {
        font-size: 75px;
    }

    .text_intro {
        font-size: 35px;
    }


    .intro_link {
        font-size: 17px;
        padding: 13px 77px;

    }

    /* ABOUT_QISMI */

    .about {
        margin-top: 60px;
        gap: 35px;
    }

    .about_box {
        gap: 18px;
    }

    .about_box img {
        height: 240px;
    }


    .title_all {
        font-size: 35px;
    }

    .texts {
        font-size: 17px;
        text-align: justify;
    }


    /* ABOUT_CATALOG_QISMI */

    .catalog {
        margin-top: 60px;
        gap: 35px;
    }


    .box_sh {
        gap: 25px;
    }

    .catalog_invertar {
        gap: 15px;
        transition: 0.5s;
    }

    .title_invertar {
        font-size: 23px;
    }

    .catalog_img {
        width: 240px;
        transition: 0.5s;
    }

    .catalog {
        transition: 0.5s;
    }

}


@media(max-width:1055px) {
    .catalog_img {
        width: 210px;
    }
}

/* 950-ekran */

@media(max-width:950px) {
    .intro {
        height: 550px;
        gap: 30px;
    }

    .nav_box {
        padding: 30px 0px;
    }

    .nav_list {
        gap: 25px;
        transition: 0.5s;
    }

    .nav_link {
        font-size: 15px;
    }

    /* INTRO-QISMI */

    .title_intro {
        font-size: 70px;

    }

    .text_intro {
        font-size: 30px;
    }


    .intro_link {
        font-size: 16px;
        padding: 12px 75px;
    }

    /* ABOUT_QISMI */

    .about {
        margin-top: 50px;
        gap: 30px;
    }

    .about_box {
        gap: 17px;
    }

    .about_box img {
        height: 210px;
    }


    .title_all {
        font-size: 31px;
    }

    .texts {
        font-size: 16px;
        text-align: justify;
    }

    /* ABOUT_CATALOG_QISMI */

    .catalog {
        margin-top: 50px;
        gap: 30px;
    }


    .box_sh {
        gap: 20px;
    }

    .title_invertar {
        font-size: 20px;
    }

    .catalog_invertar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
    }

    .catalog_img {
        width: 280px;
        transition: 0.5s;
    }

}



/* 850-ekran */

@media(max-width:850px) {
    .intro {
        height: 490px;
        gap: 20px;
    }

    .nav_box {
        padding: 25px 0px;

    }

    .nav_list {
        gap: 90px;
        height: 50px;
        position: absolute;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(62, 137, 137, 1);
        width: 100%;
        z-index: 99;
    }

    .nav_link {
        font-size: 14px;
    }

    /* INTRO-QISMI */

    .title_intro {
        font-size: 50px;

    }

    .text_intro {
        font-size: 25px;

    }


    .intro_link {
        font-size: 14px;
        padding: 11px 70px;
    }

    /* FORM_QISMI */
    .nav_input {
        transition: 0.5s;

        height: 27px;
    }

    .nav_input::placeholder {
        font-size: 15px;
    }

    input[type="text"] {
        max-width: 180px;
    }

    .nav_btn {
        padding: 0px 7px 0px 7px;
        font-size: 13px;
    }

    /* ABOUT_QISMI */

    .about {
        margin-top: 40px;
        gap: 25px;
    }

    .about_box {
        gap: 15px;
        flex-direction: column;
    }

    .about_box img {
        width: 100%;
        height: auto;
    }


    .title_all {
        font-size: 28px;
    }

    .texts {
        font-size: 15px;
        text-align: justify;
    }

    .catalog {
        margin-top: 40px;
        gap: 25px;
    }


    .box_sh {
        gap: 15px;
    }

    .title_invertar {
        font-size: 19px;
    }


}

/* 650-EKRAN */

@media(max-width:650px) {
    .intro {
        height: 400px;
        gap: 10px;
    }

    .nav_box {
        padding: 20px 0px;

    }

    /* INTRO_QISMI */
    .title_intro {
        font-size: 40px;

    }

    .text_intro {
        font-size: 19px;
    }


    .intro_link {
        font-size: 14px;
        padding: 10px 67px;
        transition: unset;
    }

    /* FORM_QISMI */

    .nav_input {
        height: 27px;
    }

    .nav_input::placeholder {
        font-size: 13px;
    }

    input[type="text"] {
        max-width: 150px;
    }

    .nav_btn {
        padding: 0px 7px 0px 7px;
        font-size: 12px;
    }

    /* ABOUT_QISMI */

    .about {
        margin-top: 30px;
        gap: 25px;
    }


    .title_all {
        font-size: 25px;
    }

    .texts {
        font-size: 14px;
        text-align: center;
    }

    .catalog {
        margin-top: 30px;
        gap: 25px;
    }

    .title_invertar {
        font-size: 19px;
    }

    .catalog_invertar {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .catalog_img {
        width: 280px;
    }

}

/* 450-EKRAN */

@media(max-width:450px) {
    .intro {
        height: 230px;
        gap: 10px;
    }

    .nav_box {
        padding: 13px 0;
    }


    /* INTRO_QISMI */
    .title_intro {
        font-size: 30px;

    }

    .text_intro {
        font-size: 16px;
    }


    .intro_link {
        font-size: 12px;
        padding: 9px 60px;
    }

    /* form qismi */
    .nav_input {
        height: 20px;
    }

    .nav_input::placeholder {
        font-size: 12px;
    }

    input[type="text"] {
        max-width: 80px;
        padding-left: 14px;
        padding-bottom: 1.5px;
    }

    .nav_btn {
        padding: 0px 7px 0px 7px;
        font-size: 11px;
    }

    .nav_list {
        gap: 30px;
        height: 40px;
    }


    /* ABOUT_QISMI */

    .about {
        margin-top: 25px;
        gap: 25px;
    }


    .title_all {
        font-size: 20px;
    }

    .texts {
        font-size: 13px;
    }



    .catalog {
        margin-top: 25px;
        gap: 25px;
    }

    .title_invertar {
        font-size: 19px;
    }

    .catalog_invertar {
        gap: 25px;
    }

    .catalog_img {
        width: 210px;
    }


}